<!DOCTYPE html>
<html lang="ko"> 
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/index.css"  type="text/css">
        <link rel="stylesheet" href="/css/ionicons.min.css"  type="text/css">
        
    </head>
    <body>
        <header>
            <h1>albums</h1>
        </header>
        <div class="content">
            <div class="carousel_left_button">
                <i class="ion-arrow-left-b"></i>
            </div>
	    	<div class="carousel" id="Carousel">
                
            </div>
            <div class="carousel_right_button">
                <i class="ion-arrow-right-b"></i>
            </div>  
            
    	</div>
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/index.js"></script>
        <script src="bundle.js"></script>
    </body>
</html> 