{% extends "layout.html" %}
{% block body %}

    <h2>albums</h2>
    {% for item in data %}
        <a href="/files/?type={{ item.type }}">
            <div class="album" >
                {% if item.path %}
                <img src="{{ item.path }}" class="img">
                {% else %}
                <img src="/static/img/1.jpeg" class="img">
                {% endif %}
                <div class="overlay">
                    <h3 class="title">{{ item.type }}</h3>
                    <a>0 photos</a>
                </div>
            </div>
        </a>
    {% endfor %}

    <a href="/files/upload/">
        <div class="album" >
            <img src="/static/img/no_images.svg" class="img">
            <div class="overlay">
                <h3 class="title">starred</h3>
                <a>0 photos</a>
            </div>
        </div>
    </a>
{% endblock %}